@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
.nav-item {
  margin-right: 10px;
  margin-left: 10px;
}

/* Estilos para el header */
.menu {
  background-color: #f8c96b;
}

.derecha {
  margin-right: 3%;
}

.nav-link {
  color: black !important;
}
.nav-link:hover {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.logoImagen {
  height: 3em;
  margin-left: 10px;
  margin-top: 5px;
}

/* Fin estilos para el header */
/* Footer */
footer {
  display: flex;
  color: black;
  bottom: 0px;
  width: 100%;
  bottom: 0;
  background-color: #f8c96b;
  margin-top: 350px;
}
footer p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.redes {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

/* Cuerpo de la pagina */
h1 {
  margin-left: 10px;
}

.texto {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: 25px;
  font-family: "Hind Siliguri", sans-serif;
}

.intro {
  text-align: center;
  font-size: 50px;
}

h2, h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.imagenHeroe {
  width: 100%;
  height: 500px;
}

#caja1 {
  width: 100%;
  height: 200px;
  color: #0e0d0d;
  padding: 20px;
  float: center;
  box-sizing: border-box;
  border: double 5px black;
}

/* Fin del cuerpo */
.zonas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.map {
  border: 2px solid black;
  margin-top: 25px;
}

/* ¿QUE OFRECEMOS? */
.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-servicio {
  border: 2px;
  border-color: black;
  border-style: solid;
  width: 500px;
  height: 335px;
  display: block;
  border-radius: 10px;
}

.description {
  margin-top: 50px;
  position: relative;
}
.description:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8c96b;
  border-radius: 10px;
}

.description:hover .overlay {
  opacity: 1;
}

.texto-servicio {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* FIN ¿QUE OFRECEMOS? */
/* Tarifas */
.tabla {
  width: 85%;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  height: 10%;
}

.servicio {
  width: 10%;
  border-style: solid;
}

.cotizacion {
  width: 45%;
  border-style: solid;
}

td ul li {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
}

td ol li {
  display: inline-block;
  width: 30%;
  border-style: solid;
}

/* Fin tarifas */
/* CONTACTO */
.largo {
  border: 1px solid black !important;
  width: 15em;
}

.enviar {
  margin-top: 20px;
}

form {
  margin-left: 10px;
  margin-top: 50px;
}

label {
  font-size: 20px;
  font-weight: 500;
}

.preg {
  font-size: 20px;
  font-weight: 500;
}

/* FIN CONTACTO */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/fondo.png);
}

/* GRIDS */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 70px 600px 70px 120px 10px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid1 {
  grid-area: 1/1/2/6;
}

.grid2 {
  grid-area: 2/1/4/6;
}

.grid3 {
  grid-area: 4/1/5/6;
}

.grid4 {
  grid-area: 5/1/6/6;
}

.grid2 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .logoImagen {
    width: 100%;
  }

  .texto {
    font-size: 90%;
  }

  #caja1 {
    height: 300px;
    border: solid 3px black;
  }

  .tabla {
    font-size: 70%;
    border: solid 3px black;
  }
}

/*# sourceMappingURL=style.css.map */
