@import "../base/variables";
@import "../base/extends";
@import "../base/mixins";
@import "../base/maps";

/* Estilos para el header */

.menu {
    background-color: $color-general;
}

.derecha {
    margin-right: 3%;
}

.nav-item{
    @extend %margenes
}

.nav-link {
    color:black !important;
    &:hover {
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
}



.logoImagen {
    height: map-get($logo, altura );
    margin-left: map-get($logo, margenIzq );
    margin-top: map-get($logo, margenTop );
}

/* Fin estilos para el header */