/* CONTACTO */

.largo {
    border: 1px solid black !important;
    width: 15em;
}

.enviar {
    margin-top: 20px;
}

form {
  margin-left: 10px;
  margin-top: 50px;
}

label {
  font-size: 20px;
  font-weight: 500;
}

.preg {
  font-size: 20px;
  font-weight: 500;
}

/* FIN CONTACTO */